nav {
  display: flex;
  justify-content: center;
  margin: 5px;
  background-color: #fff1e6;
  border: solid #011328 1px;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  text-decoration: none;
  margin: 0 20px 0 0;
  font-family: Helvetica;
  font-weight: bold;
}

nav ul li:last-child a {
  margin-right: 0;
}
