body {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  align-content: center;
  text-align: center;
  background-color: #faf3dd;
}

main {
  background-color: #aed9e0;
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
}
